[2017-11-15 13:25] degski opened #78 "Feature request."
Hi Francesco,

Would like to request to add xor-, or- and and-operator overloads for `mppp:integer<>`.

This library looks awesome, thanks for it!

degski

[2017-11-15 13:48] bluescarni commented on #78
Thanks! :)

I'll put them on the roadmap for the next version.

[2017-11-19 18:07] kimwalisch opened #82 "Support __int128_t, __uint128_t types"
Hi,

The ```__int128_t ``` and ```__uint128_t``` types are non standard C/C++ extensions supported by Clang and GCC (and I guess by the Intel Linux compiler as well). Currently they seem to be not supported:

[code]

Boost multiprecision supports the ```__int128_t ``` and ```__uint128_t``` types, I was hoping to be able to use mp++ instead of Boost multiprecision in my primesum program and get a p

[2017-11-19 21:10] bluescarni commented on #82
What type of interfacing do you need from mp++? Is it enough to be able to construct/convert mp++ integers from/to ``__(u)int128_t`` or would you need also overloaded operators?

[2017-11-19 21:31] kimwalisch commented on #82
Yes, I would also need overloaded operators. My primsum program currently mixes ```__(u)int128_t``` with Boost's ```int256_t``` type using the standard integer arithmetic operators ```+, - , *, /```. If you would support overloaded operators I could use your mp++ as a drop in replacement for the Boost multiprecision library.

Here is a C++ code snippet used in my program:

[code]

```maxint_t``` i

[2017-11-19 21:38] bluescarni commented on #82
I think supporting the 128 bit integers is definitely worthwhile, so consider it on the roadmap now :)

As a word of caution, I haven't really looked into optimizing performance for integers with more than 2 static limbs. For > 2 limbs, I am just using the ``mpn_`` primitives from GMP, but I have not done any performance measurement/tuning yet. That is another chunk of work that is already on the

[2017-11-19 21:39] kimwalisch commented on #82
For your information:

```__int128_t``` and ```__int128_t``` are only supported on 64-bit architectures by GCC and Clang. Hence they are e.g. supported on x86_64, PPC64, ARM64 but not on i386, ARM and so on.

One possible way to support this in your library would be using:

[code]

This works using both GCC and Clang.

[2017-11-19 21:41] bluescarni commented on #82
Indeed! I am using 128bit integers already in the optimised 2-limbs implementations of basic arithmetic, and using that very same definition to check for availability:

https://github.com/bluescarni/mppp/blob/master/include/mp%2B%2B/integer.hpp#L82

I'll ping you here as soon as I make progress.

[2017-11-20 10:31] bluescarni commented on #82
@kimwalisch This may be a bit OT, but do you need modular arithmetic behaviour on integer operations?

[2017-11-20 10:50] kimwalisch commented on #82
No, I don't need that.

[2017-11-27 09:54] bluescarni commented on #78
This has been implemented in #86, I just merged it into master. It will be available in the next version of mp++, but if you want to give it a spin from the latest git head I'd love to hear how it goes.

[2017-11-27 20:59] #78 closed

[2017-11-27 22:09] degski commented on #78
Thanks, I'll check it out asap...

[2017-12-01 18:39] bluescarni commented on #82
This has been implemented in #90, just merged to master.

[2017-12-02 19:47] #82 closed

[2017-12-25 09:59] sattel opened #109 "Binary exporting and importing values"
Hi!

I want to store/restore integers and rationals to/from a buffer. For now I use mpz_export() and mpz_import(), but this is not the most efficient way for small values as it constructs temporary objects. Using the string representation is also not very efficient. So what way do you recommend for storing/restoring the numbers?

Did I miss something? Or is it just a feature request :-)

In genera

[2017-12-25 12:43] bluescarni commented on #109
Hello @sattel,

you are not missing anything, serialization support is indeed not implemented yet, but it is on the roadmap.

I have been thinking about it for a while, but my thoughts so far have been focused on enabling (de)serialization of mp++ objects in popular serialization libraries such as Boost.Serialization, cereal and msgpack-c (of course, this type of serialization support would be opt

[2017-12-25 13:30] sattel commented on #109
Hi Francesco!

Thanks for the quick and kind reply.

I also don't think we need all features of mpz_import()/mpz_export(). I just use it for serializing the data into a simple bytestream. By the way: the sign bit is not handled by these functions, just the absolute value, but that's OK.

Currenty I do this for serializing:

[code]

... and this for deserializing:

[code]

I would prefer a very sim

[2017-12-25 14:58] bluescarni commented on #109
I think it's reasonable and very much similar to what I had in mind. I'd like to have perhaps multiple overloads for the serialization functions, in order to allow using both an ``std::vector`` (or maybe even an ``std::array``) and raw pointers (these allow, for instance, to write directly to a file via memory mapping).

I think we need also some utility functions that compute the number of bytes

[2017-12-25 15:54] sattel commented on #109
This sounds great. I like your ideas and I'm really looking forward to test those additions.

[2017-12-27 23:27] bluescarni commented on #109
@sattel There's an initial implementation up at #110. Currently it does not cover stream-based serialisation, only buffer-based.

I still need to write the tutorial, but API docs and tests are there. Let me know what you think if you want to take a look at it.

[2018-01-02 00:12] bluescarni commented on #109
@sattel I have added stream-based serialisation as well. Only the tutorial bits are missing now, once they are written I'll consider this ready for merging.

[2018-01-05 14:07] bluescarni commented on #109
I have merged #110, I am going ahead and close this.

[2018-01-05 14:07] #109 closed

[2018-02-02 00:55] BrannonKing opened #119 "benchmarks vs. common types"
Is it possible to add the common int64 and double and GCC's __int128 to the benchmark page? For my application 95% of the numbers will fit in an int64. On occasion I need to pass and operate on some squares of those numbers. I'm wondering if the mp++ integer is close enough to int64 performance for small numbers that I can just use that type everywhere.

[2018-02-02 09:34] bluescarni commented on #119
Sure, it should not be too much work. I'll add them and ping back here when it's done.

[2018-02-14 13:39] bluescarni commented on #119
I have implemented some benchmarks vs int64/int128 in #124, the online docs will be updated shortly.

The bottom line is that the slowdown vs int64 is in the x3-4/x10 range, depending on the operation and how much random is the sign of the mp++ integers in your data (if your data consists mostly of integers with the same sign, performance increases greatly due to branch prediction). Slowdown wrt i

[2018-02-14 20:35] BrannonKing commented on #119
Thanks for your work on this. It looks good.

[2018-03-30 23:08] yurivict opened #132 "One testcase fails"
On FreeBSD, I am getting one testcase failure:
[code]

FreeBSD 11.1 amd64
Version 0.9

[2018-03-31 03:34] yurivict opened #133 "Please document how to run benchmarks"
Benchmark executables fine, but how to run them? Is there a target to run them?

[2018-03-31 09:14] bluescarni commented on #132
Hello @yurivict,

could you run the individual test and report back the output that it produces?

[2018-03-31 14:04] yurivict commented on #133
This would be nice. -)

[2018-03-31 15:34] yurivict commented on #132
Here's the log:
[code]

[2018-03-31 17:36] bluescarni commented on #132
I was able to reproduce the problem in a FreeBSD virtual machine. The problem here appears only in ``Release`` builds and not in ``Debug`` builds.

The statement ``pow(integer{2}, 4.5l)`` should produce exactly the same identical result as ``std::pow(2.l, 4.5l)``, because both functions eventually end up calling the ``std::pow()`` overload for ``long double`` with base ``2`` and exponent ``4.5`` (

[2018-03-31 17:55] yurivict commented on #132
I'm getting the same result with this program:
[code]

Output:
[code]
Pari gives ```22.627416997969520780827019587355169257``` with 28-decimal digit precision.

[2018-03-31 18:08] bluescarni commented on #132
Ok I think I know what is going on. In a ``Debug`` build, the compiler ends up calling the ``pow()`` function at runtime for both expressions. This gives the result in *double* precision, not in long double precision, which is:

[code]

So the linker warning is correct, the ``pow()`` function for long double is *not* actually returning a result accurate to the last significant digit. If, however,

[2018-03-31 18:17] yurivict commented on #132
Yes, I got the same results.

[2018-03-31 18:59] bluescarni commented on #132
Ok, I'll open a PR and put a workaround in the tests. Thanks for testing!

[2018-03-31 19:05] yurivict commented on #132
You're welcome!

[2018-03-31 19:12] bluescarni commented on #132
PR is up at #134. I will do a 0.10 release in the next few days, so you can have a stable release with working tests on FreeBSD.

[2018-03-31 19:31] yurivict commented on #132
Great, thanks!

[2018-04-01 14:12] bluescarni commented on #133
There's a PR up now at #135. It's the first time I use these custom CMake target/command bits, hope I did not screw up.

[2018-04-01 15:39] yurivict commented on #133
Thank you for adding the target! It works. One thing that could be improved is if printed progress messages, like tests do.

[2018-04-01 18:24] yurivict commented on #132
If this is due to a bug in FreeBSD, IMO you should just leave it failing as it is.
There's nothing wrong with mppp in this regard, no need to fix it.

Instead, I've created this bug report so that they can fix it: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=227179

[2018-04-01 20:42] bluescarni commented on #132
Thanks for opening the report!

I just disabled that specific test on FreeBSD, I did not actually touch the library's code. Once the issue is fixed on FreeBSD's side, I can conditionally re-enabled the test.

[2018-04-01 20:46] bluescarni commented on #133
The progress report on ``make test`` is done by some internal CMake magic, I would need to figure out how to reproduce it when building the ``benchmark`` target in a cross platform way. For the time being I'll go ahead and merge the PR as it is, I'll keep on reading up the CMake docs to understand what's the best way to proceed.

[2018-04-01 20:48] yurivict commented on #132
Sounds good!
Even better solution is, I think, to keep the failure, but to add an explanation for this case.
This is because 0 failures shouldn't be a goal. The goal should be to have users informed. -)

[2018-04-01 20:49] yurivict commented on #133
Ah, ok. This sounds good.

[2018-04-01 20:52] bluescarni commented on #132
I was planning to add a section about platform-specific notes in the documentation, perhaps I could add a warning about FreeBSD's issues with ``pow()`` in there.

[2018-04-01 20:55] yurivict commented on #132
Yes, test failure + a warning and an explanation is better than to hide the failure IMO.

[2018-04-06 05:54] #133 closed

[2018-04-06 05:55] bluescarni commented on #132
I've released mp++ 0.10 with the fixes and doc additions mentioned in this report. Please let me know if you have any further issues on FreeBSD!

[2018-04-06 05:55] #132 closed

[2018-04-06 06:45] yurivict commented on #132
It all works. I've updated the port. Thank you!

[2018-05-14 12:46] darioizzo opened #142 "When quadmath include dir is not found ..."
When including mppp in my project, since the quadmath header is not found by cmake everything stops. I do have the header in the folder ```/usr/lib/gcc/x86_64-pc-linux-gnu/8.1.0/include```
which is included by default when compiling using gcc. That directory is not searched by cmake find_path.

Looking at the file https://github.com/bluescarni/mppp/blob/master/cmake/FindQuadmath.cmake:
[code]
In m

[2018-05-15 09:40] bluescarni commented on #142
The quadmath detection is a bit tricky, because ``quadmath.h`` and ``libquadmath.so`` may or may not be in standard paths (depending, e.g., on the linux distribution), but GCC is always able to pick them up regardless.

So that bit of CMake code you quoted first tries to locate ``quadmath.h`` and ``libquadmath.so`` in the standard paths, and, if it doesn't manage, it tries to compile a small quadm

[2018-05-15 09:50] bluescarni commented on #142
To elaborate further, the reason why we bother with actually trying to find ``quadmath.h`` and ``libquadmath.so`` is to support clang. Clang does support ``__float128`` natively, but in order to call the functions from the quadmath API you do need to have the full path to ``quadmath.h`` and ``libquadmath.so`` in order for the include and the linking to work.

[2018-05-21 10:05] bluescarni commented on #142
Is this still an issue or can this be closed?

[2018-05-21 13:48] darioizzo commented on #142
Not an issue for me anymore .... probably I messed up some cars ...

[2018-05-21 13:48] #142 closed

[2019-04-29 08:52] degski opened #175 "Question: How to instruct cmake to generate a static library?"
How to instruct cmake to generate a static library. Do I need to define any MACRO.

I'm using VC17 + clang-cl-9. The generation goes fine, I just want/need a static library.

Thanks in advance.

[2019-04-29 09:08] bluescarni commented on #175
@degski at the moment the build system hard codes the generation of a shared library. Would you like me to add an option for a static library build?

[2019-04-29 09:24] degski commented on #175
Yes, please. Like I said, all goes well, except it's not what I would like to have. Just to be clear, that also implies static run-time linking (/MT, /MTd).

[2019-04-29 09:29] bluescarni commented on #175
Is the compilation with ``/MT`` enough or are there any other special considerations on MSVC to be taken into account when building static libs? I'll have some reading to do, as my experience with MSVC is a bit limited, but I'll implement it.

[2019-04-29 09:37] degski commented on #175
No, not that I'm aware of, it's just /MT for Release and /MTd for debug.

There is one point, though, that is the debug-info [where maybe I'm awkward]. The std way of doing things is to add the /Zi flag, while what I usually do is give the /Z7 flag. The result is the same, except with /Zi you get the famous .pdb file, with Z7, that's included (wrapped up) in the library, i.e. you end up with one f

[2019-04-29 09:44] bluescarni commented on #175
Ok, thanks for the info!

Do you happen to know if I can set these flags via some CMake mechanism? Or perhaps CMake already does the "right" thing when I tell it to build a static vs dynamic library, and release vs debug?

I'd much rather set this sort of thing via, e.g., a target property rather than mucking around with the CXXFLAGS.

[2019-04-29 09:54] degski commented on #175
Yeah, probably. I know not much about CMake. You could have a look at https://github.com/SFML/SFML/blob/master/CMakeLists.txt . Like I said, they deal with this using basically 1 flag, one macro. The CMake file is rather big, but it's mostly because SFML has masses of dependencies, I guess the static/dynamic bit is rather small.

[2019-04-29 10:00] degski commented on #175
I could not find where `MPPP_PUBLIC` was defined, but I guess that's the one.

[2019-04-29 10:12] bluescarni commented on #175
``MPPP_PUBLIC`` is the macro that sets the ``dllexport/dllimport`` attributes on windows and the ``visibility`` attribute on Unix. It is defined here:

https://github.com/bluescarni/mppp/blob/master/include/mp%2B%2B/detail/visibility.hpp

Speaking of it, are these attributes still necessary when building a static library?

As a first try, I'll just add an option to build a static library and obser

[2019-04-29 10:15] bluescarni commented on #175
@degski sorry just saw your edit above about ``dllexport``...

[2019-04-29 10:18] bluescarni commented on #175
Ok so it looks like I could just add another definition to ``config.hpp`` to be set at build time indicating whether mp++ was built as static or dynamic library, and then define ``MPPP_PUBLIC`` to expand to nothing in static builds.

[2019-04-29 10:20] degski commented on #175
Yes.

[2019-04-29 11:43] bluescarni commented on #175
I have some initial code up here:

https://github.com/bluescarni/mppp/compare/pr/static_lib

Works locally on my linux installation, I'll check tonight what it does on the appveyor CI.

[2019-04-29 19:32] 7ofNine commented on #175
I just compiled it with MSVC 2019 successfully, All tests ran in Release and Debug (for some tests considerably slower)

[2019-04-29 21:25] bluescarni commented on #175
@7ofNine Thanks for testing! PR is up at #176. I enabled the static library option for the ``clang-cl`` builds. If the builds are green I'll merge tomorrow.

[2019-04-30 03:31] degski commented on #175
I've tried the `pr/static_lib` branch. It appears that it links against the dynamic crt's, i.e. the flags used are `/MD` and `/MDd`.

SFML has this code snippet to achieve that:

    if(SFML_COMPILER_MSVC AND SFML_USE_STATIC_STD_LIBS)
            foreach(flag
                    CMAKE_CXX_FLAGS CMAKE_CXX_FLAGS_DEBUG CMAKE_CXX_FLAGS_RELEASE
                    CMAKE_CXX_FLAGS_MINSIZEREL CMAKE_CXX_F

[2019-04-30 08:12] bluescarni commented on #175
@degski it is not clear to me what the relation is between building a static version of the library and linking to the static runtime. Does one imply the other or are they independent? Is it allowed, e.g., to build a static library and link it to the dynamic runtime?

[2019-04-30 08:31] bluescarni commented on #175
Ok so I dug a bit and found this:

https://gitlab.kitware.com/cmake/cmake/issues/19108
https://cmake.org/cmake/help/git-master/prop_tgt/MSVC_RUNTIME_LIBRARY.html

That is, the latest CMake git head exposes a target property for selecting the MSVC runtime to build against. So clearly this is the way to go for the future, but we still need a working solution for older CMake versions.

This CMake FAQ

[2019-04-30 08:59] bluescarni commented on #175
To be clear, this means adding another CMake option ``MPPP_WITH_STATIC_MSVC_RUNTIME`` which would be available only when compiling with MSVC, and, as I understand it, it would be independent from the ``MPPP_BUILD_STATIC`` option.

[2019-04-30 09:15] degski commented on #175
No not really, but you cannot mix them [if you link in more than 1 lib], and in general it is considered good practice to link to the static crt when compiling static libs. Like f.e. `vcpkg`  [and one would assume that 'they know what's best'] does this by default.

Yeah, I guess it's not perfect, but it works for SFML.

`MSVC`  **and**  `clang-cl`. I would do it the other way around, by default l

[2019-04-30 09:26] bluescarni commented on #175
If there is not specific reason for mixing static library with dynamic runtime (or vice versa), I'd rather go with the best practice and leave a single option (``BUILD_STATIC``) which enables both the static library and linking to the static runtime.

[2019-04-30 09:36] degski commented on #175
It has to include `MPPP` as `BUILD_STATIC` is too generic, i.e. `MPPP_STATIC'.

You would do that to work around a problem. Like f.e. Intel Threading Building Blocks cannot [due to shared state issues in the lib] be compiled statically, so to work around this `MPPP_STATIC_WITH_DYNAMIC_MSVC_RUNTIME` is an option [but not without caveats]. Basically dll's on windows is a mess [unlike nix], nothing g

[2019-04-30 09:42] bluescarni commented on #175
Sure sure, I was writing too fast :)

Just to make sure I understood, ``MPPP_STATIC_WITH_DYNAMIC_MSVC_RUNTIME`` needs only to be an option at build time and needs **not** to be exposed as a definition in ``config.hpp``. ``config.hpp`` only needs to know whether libmp++ was compiled as a static or dynamic library, and not whether libmp++ links to the static or dynamic crt. Is that correct?

[2019-04-30 09:45] degski commented on #175
Yes, that one would be a build macro. `MPPP_STATIC` deals with the import/export stuff for dll's (which are in  your headers), so you need that one at/on consumption as well.

[2019-04-30 19:22] 7ofNine commented on #175
Hello Francesco,
just to clarify: The creation of a static library is not related to the way the run-time is linked, they are independent. This seems to be a standard point of confusion and the MS documentation is not very supportive here either. A static library can be linked either with the static or the dynamic run-time library (/MT) and the compiler defines _MT. If one creates a dynamic librar

[2019-04-30 19:40] bluescarni commented on #175
Thanks a lot for the explanation! It sure does sound an intricate system.

Do you also agree that it's generally a sensible thing to do to link to the static runtime when building a static library?

[2019-04-30 20:08] bluescarni commented on #175
@degski how is it looking now?

I took the chance to make some changes to the build system when using clang-cl, it would be good if you could confirm everything is working properly.

[2019-05-01 05:42] degski commented on #175
I know you didn't ask me the question, but I'll add to what I already said [just to repeat that, yes, you can do both]. The way it's done is not very relevant, it's just /MT vs /MD. The effects are different though. Windows depends on CRT's. And every major update of VSXXXX and/or Windows OS comes with a new(er) additional run-time. This is distinctly different from Linux, which just gets a new ke

[2019-05-01 07:17] degski commented on #175
I have successfully built and linked `mp++.lib`, the crt's are set correctly.

PS: Previously I have been using [`MPIR`](http://mpir.org/) to give me `GMP`. Unfortunately this project can be declared dead [on Windows], [Brian Gladman is the only maintainer on Windows](https://github.com/BrianGladman/mpir), and Brian is `on the wrong side of 75` [his own words]. Bill and Brian have parted ways and

[2019-05-01 07:57] degski commented on #175
I've now also checked the `MPPP_BUILD_STATIC_LIBRARY_WITH_DYNAMIC_MSVC_RUNTIME`  flag, and that all works as expected as well.

[2019-05-01 09:44] bluescarni commented on #175
@degski Thanks for checking! I am ok with doing what vcpkg does for the MSVC runtime, so, if the current solution is ok for you, I am ok with merging the PR.

Regarding the MPIR/GMP discussion, in the past I have also been building GMP on windows with MinGW/MSYS and it always worked fine (as long as static linking was being used, as you point out). MinGW is great, but it has a critical issue for m

[2019-05-01 10:44] degski commented on #175
I'm ok with it.

Yeah, that's how it started, then other hobbyists got on board and basically took over the project. Thinking that you can do better than GMP seems rather stupid IMO, why even try?

I don't know exactly what you are referring to [as you are calling it a bug] but there is this [repo](https://github.com/meganz/mingw-std-threads), which adds almost all the missing bits at least. I jus

[2019-05-01 10:50] degski commented on #175
I don't know, who does what etc, but the distro I linked to is pretty solid, it's also multilib, i.e. it builds both 32- and 64-bit apps. The latest build, with gcc-8.3.0 is pretty recent [like weeks old], who knows.

[2019-05-01 12:08] bluescarni commented on #175
Referring to these:

https://sourceforge.net/p/mingw-w64/bugs/445/
https://github.com/msys2/MINGW-packages/issues/2519

You can find other reports if you search for them, which, I believe, are various manifestations of the same underlying problem (i.e., that the destructor of ``thread_local`` objects is called at the wrong time, leading to memory corruption). I experienced this bug first hand with

[2019-05-01 12:10] bluescarni commented on #175
Thanks for the pointer!

I was using the mingw-builds builds,

https://mingw-w64.org/doku.php/download/mingw-builds

which, last time I checked, were stuck to an older version of GCC (8.1 I believe). I'll give a try to the builds you are using.

[2019-05-01 12:23] degski commented on #175
I'm now trying to link `mpfr`, also built with the same tool-chain, but now I get:

    1>------ Build started: Project: gmp_random, Configuration: Debug x64 ------
    1>lld-link : error : undefined symbol: __mingwthr_key_dtor
    1>>>> referenced by libgcc.a(emutls.o):(emutls_init)
    1>
    1>lld-link : error : undefined symbol: _CRT_MT
    1>>>> referenced by libgcc.a(emutls.o):(.refptr._CRT_

[2019-05-01 12:33] degski commented on #175
There are definitely some issues related to `mpfr`.

[2019-05-01 13:02] bluescarni commented on #175
@degski want to open a new report about the issues you encountered?

[2019-05-01 13:06] degski commented on #175
Yes I will, but first have to be able to at least reproduce it on my end, for the moment I'm not sure what I'm looking at.

[2019-05-01 16:38] bluescarni commented on #175
Addressed in #176, will close this report for the time being.

[2019-05-01 16:38] #175 closed

[2019-05-02 04:41] degski commented on #175
Yes, the changes are good.

Re. TLS, there's a new ticket: https://sourceforge.net/p/mingw-w64/bugs/799/

[2019-05-03 06:30] degski opened #177 "CMake generates a solution with Multi Byte Character Set"
The generated solution uses the multi-byte character set. Although this seems easier, it generates inefficient code as any interaction with the OS is converted to and from UNICODE, as windows is strictly UNICODE internally (their messy flavour of it). Not sure whether this is extremely important, but I thought I'd just mention it.

In the meanwhile, I've sorted out (with Brian) some issues related

[2019-05-04 20:04] bluescarni commented on #177
I've done some reading and it seems like it's possible to tell CMake to create a Unicode-based solution with a couple of definitions. Are there particular caveats, incompatibilities, etc. I should know about before trying to change this setting?

[2019-05-05 05:31] degski commented on #177
I've just opened a new default console project solution (it's a MS supplied project template) and, the only thing I can see is that `/D "_UNICODE" /D "UNICODE"` is added  to the compile line/commands.

To be precise, this is the while line that gets thrown at a file (static exe):

    /permissive- /Yu"pch.h" /GS /GL /W3 /Gy /Zc:wchar_t /Zi /Gm- /O2 /sdl /Fd"x64\Release\vc141.pdb" /Zc:inline /fp:pr

[2019-05-05 08:17] degski opened #178 "clang-cl ICEs on construction of const qualified structured binding"
integer.hpp:2841

    const auto [size, asize] = bl_read_size_asize(src);

ICEs `clang-cl` trunk [(Bug filed)](https://bugs.llvm.org/show_bug.cgi?id=41745).

Is not your problem I know [AFAICS, the code is correct and compiles with VC], but the `const` is un-necessary and taking it out:

    auto [size, asize] = bl_read_size_asize(src);

makes no difference whatsoever, but does make that bit of co

[2019-05-05 09:27] bluescarni commented on #178
I'd rather not lose the ``const`` qualifier, but it's easy to add an ``ifdef`` to work around the issue on ``clang-cl`` only. Is this the only instance of the problem?

[2019-05-05 09:28] bluescarni commented on #177
Ok, I'll give it a go then :) This applies to both MSVC (``cl.exe``) and ``clang-cl`` right?

[2019-05-05 09:35] degski commented on #178
It's the one triggered by my code [I'll have scan a bit later if you want, it's not said that those cause trouble, this **is** a compiler bug [not a defect in your code], we don't know how or what]. The `const` qualifier makes no difference [in code generation] and it's contained inside a [short] function-body. I don't see why you would prefer the pre-processor. But yes, any work-around is good.

[2019-05-05 09:46] bluescarni commented on #178
I just prefer to mark everything as const, unless I need to mutate it, in order to avoid accidentally writing to it. If it's just a single instance of the issue, I prefer the mental overhead of the preprocessor rather than losing the const.

[2019-05-05 09:47] degski commented on #178
Okido

[2019-05-05 13:35] bluescarni commented on #178
PR up at #179.

[2019-05-05 13:36] bluescarni commented on #177
I have added the defines in #179. Do you reckon I should have an option in the build system to specify whether to enable unicode support or not? I am a bit afraid of possible binary incompatibilites down the line...

[2019-05-08 20:10] bluescarni commented on #178
#179 has been merged, closing the issue.

[2019-05-08 20:10] #178 closed

[2019-05-10 05:47] degski commented on #177
@bluescarni Hi, I just after some of your changes did a pull and rebuild. The generated solution still is `MBCS`.

You're thinking make etc [nix-thinking]. Using VS, one does not explicitly set CXXFLAGS (nor CFLAGS). It's hard to imagine that `CMake` would make the project default to `MBCS` without being explicitly told to do so [do you see what I'm implying?].

[2019-05-10 07:31] bluescarni commented on #177
@degski which commit did you rebuild? If you rebuilt with the latest master, could you try building from this commit

https://github.com/bluescarni/mppp/pull/179/commits/4543280e57c6565eadc8a58db68e8adf043dd340

and tell me if it produces a unicode solution?

[2019-05-10 10:48] degski commented on #177
@bluescarni Yes, it [that commit] does generate a unicode-solution, and `/D "UNICODE" /D "_UNICODE"` get added as well.

[2019-05-10 21:35] bluescarni commented on #177
Ok, I have a new PR up at #183. I added a build option called ``MPPP_MSVC_UNICODE``, which you'll have to set to ``YES`` in order to get a Unicode solution.

I have never been aware of any charset-related option in CMake before you opened this PR. Actually, to be precise, even here I am only setting some flags/definitions for the compiler - so it looks like either CMake is parsing the compilation

[2019-05-11 01:54] degski commented on #177
@bluescarni On Windows `UNICODE` is not an opt-in, iff you want to stand any chance you're software will work correctly, you will have to use `UNICODE` and all the [lovely] stuff it brings with it ;-) .

I'm tired arguing now though and there is a working option, so I'll drop my opposition and just specify whatever flag required [I presume you will document those things].

Thanks for your efforts,

[2019-05-25 17:05] yurivict opened #185 "Version 0.15 installs libraries with mismatching version numbers"
[code]

```1``` and ```0``` above should be the same number.

[2019-05-25 17:51] yurivict opened #186 "Use of GCC extension: The 'MPPP_WITH_QUADMATH' option was enabled but the '__float128' type does"
It fails in clang-8.

Please use the standard type ```long double``` instead.

[2019-05-25 18:29] bluescarni commented on #185
@yurivict sorry I am confused. What should be the relation between those numbers?

My understanding was that ``lib/libmp++.so.0.15`` represents the mp++ library version, while the ``lib/libmp++.so.1`` symlink represents the ABI compatibility version. Because mp++ does not guarantee binary compatibility from version to version, the ABI number gets bumped up at each new library version.

Would you p

[2019-05-25 18:30] bluescarni commented on #186
``__float128`` is different from ``long double``, on ``x86`` at least. And ``__float128`` has been supported by clang since version 3.9, if I recall correctly.

Could you tell me in detail what steps lead to that error message?

[2019-05-25 18:36] yurivict commented on #186
In the FreeBSD port ```math/mppp``` that I maintain ```make test``` fails:
[code]

The build of the test target fails.
[code]

[2019-05-25 18:41] bluescarni commented on #186
@yurivict This is strange, as I am regularly running tests with clang on the CI, albeit admittedly not clang 8, e.g.:

https://circleci.com/gh/bluescarni/mppp/496

This is a build using clang 7 in linux ubuntu. So this may be a FreeBSD-specific problem.

Could you try to compile the following:

[code]

You can disable altogether the use of ``__float128`` in mp++ by setting the CMake option ``MPPP_

[2019-05-25 18:41] yurivict commented on #185
It should be for ex.
[code]

See some random examples from /usr/local/lib:
[code]

The ```lib/libmp++.so.A``` link represents the SONAME that is written into ```lib/libmp++.so.A.B.C```

[2019-05-25 18:43] yurivict commented on #186
[code]

[2019-05-25 18:43] yurivict commented on #186
Yes, but I was trying to see if it tests with ```MPPP_WITH_QUADMATH```.

[2019-05-25 18:45] bluescarni commented on #185
Can I use numbers here which are unrelated to the mp++ version number? E.g., for mp++-0.15, can I have

[code]

Then for mp++-0.16

[code]

and so on? Would that be acceptable?

[2019-05-25 18:46] bluescarni commented on #186
Is this architecture ``x86_64`` or something else?

[2019-05-25 18:46] yurivict commented on #185
Yes.

[2019-05-25 18:47] bluescarni commented on #185
Ok I'll implement it now.

[2019-05-25 18:49] yurivict commented on #186
This is ```x86_64```, called ```amd64``` on BSD.

[2019-05-25 18:57] bluescarni commented on #185
PR up at #187. Thanks for reporting this.

[2019-05-25 18:58] bluescarni commented on #186
Not sure what to do, apart from disabling quadmath support altogether in FreeBSD?

[2019-05-25 19:09] bluescarni commented on #186
@yurivict perhaps it's a matter of invoking clang with some special flag/define? If that's the case, I could add the necessary bits in mp++.

[2019-05-25 19:12] yurivict commented on #186
Is ```long double``` only 64-bits on i386?

[2019-05-25 19:50] bluescarni commented on #186
``long double`` on x86 GCC/clang is the old 387 80-bit extended precision type. It's 12 bytes on x86_32 and 16 bytes on x86_64 due to alignment. ``long double`` on ppc64 is actually a double-double type similar (but not identical) to quadruple precision. ``__float128`` is a software implementation of "true" quadruple precision arithmetics.

[2019-05-25 20:28] yurivict commented on #186
FYI: Here's the answer I received from the hackers@FreeBSD.org mailing list: https://lists.freebsd.org/pipermail/freebsd-hackers/2019-May/054657.html

He seems to mean that there is no true quad-precision type on either x86_64 and i386.

[2019-05-25 20:45] bluescarni commented on #186
Would be interesting to know the rationale behind removing support for quadruple-precision floats in FreeBSD.

[2019-05-25 21:20] bluescarni commented on #185
Do you have any chance of testing out the latest master branch to see if now the versioning is correct?

[2019-05-25 21:39] yurivict commented on #185
It looks good. Thanks for fixing this!

[2019-05-25 21:39] #185 closed

[2019-05-25 22:53] bluescarni commented on #185
No problem, thanks for reporting! I made a 0.16 release with this fix.

[2019-05-26 02:38] yurivict commented on #186
As it turned out, clang supports ```__float128``` even though it isn't a C/C++ standard type, but FreeBSD disabled its support for some unknown reason. I've requested its reinstantiation.

Thanks for your help!

[2019-05-26 02:38] #186 closed

[2019-05-30 07:55] NicolasYL opened #188 "How to use uint"

[2019-05-30 07:55] #188 closed

[2019-05-30 08:00] NicolasYL opened #189 "How to use uint256_t?"
I want to use a uint256_t variable ，just like this：
const uint256_t a("0xF4DF741DE58BCB2F37F18372026EF9CBCFC456CB80AF54D53BDEED78410065DE");
  const uint256_t b("1233423452345242346523426534652345235233245");

  const uint256_t c = (a * b);
  const uint256_t d = (a + b);
const uint256_t e =a++;
const uint256_t f = a__;
cout<<a.str();

Can you help me?thanks.

[2019-05-30 08:03] NicolasYL commented on #189
Another quaetion is :
mp++ is header file only ? I want to add it to my project by including  headfile only,is accessible?

[2019-05-30 18:57] bluescarni commented on #189
@NicolasYL mp++ is not header only: it always required linking to the GMP library, and, since a couple of versions, mp++ comes with a (small) compiled library component as well (previously, the mp++ source was header-only).

The mp++ integer class is not a fixed-size integer, it is an arbitrary-precision integer, meaning that its bit width changes automatically at runtime to accommodate any numeri

[2019-05-31 01:02] NicolasYL commented on #189
Thank you for reply!

[2019-05-31 01:02] #189 closed

[2019-06-14 12:20] bluescarni commented on #185
@yurivict I have a PR open which attempts to auto-detect the correct library installation path for ``libmp++.so`` in Unix systems. Previously, the path would always be ``${PREFIX}/lib``, but now it could be something like ``${PREFIX}/lib64`` or ``${PREFIX}/lib32``, depending on the architecture. This change is necessary because in some Linux multilib systems (e.g., amd64 systems which need to be a

[2019-06-21 19:11] Cherubin62 opened #195 "Rational benchmark"
Add a new benchmarh dedicated to rational number type

[2019-06-23 12:21] bluescarni commented on #195
What type of operations would you like to be benchmarked for the rational type?

[2019-06-24 13:53] Cherubin62 commented on #195
Actually I would like to benchmark exact geometry based on rationals, as done with gmp in CGAL package. I was wondering if mp++ could compete favorably. This implies +,-,*,/ operations at least.

[2019-06-25 08:54] bluescarni commented on #195
Ok, so benchmarking arithmetic operations against GMP's rational. What kind of limb/bit sizes are you normally using for numerator/denominator? Do your numbers usually fit, say, in 128bit of storage or do they need more?

[2019-06-26 13:07] Cherubin62 commented on #195
128bit might be enough in a wide range of use cases. But, actually, exact geometry is only interesting in very degenerate cases, where more precision might be needed. To answer shortly, impossible to assert 128 bit will be enough in all cases.

[2019-06-26 13:09] Cherubin62 commented on #195
By the way, I do really appreciate your interest in my problem and look forward to compare your mp++ vs gmp benchmark and, afterwards, gmp-based geometry vs. mp++-based geometry becnhmarks.

[2019-10-03 19:32] thehans opened #201 "No powm or invert?"
I just stumbled across this project and was interested to test it out and compare performance with GMP.  I am writing software to factor Mersenne numbers, and my use case deals mostly with 1 to 2 limb(64bit) values, so mppp being optimized for small values sounded ideal.  But I make heavy use of modular exponentiation (mpz_powm), plus a few calls to `mpz_invert`.

Searching through the documentati

[2019-10-04 04:23] bluescarni commented on #201
Hi @thehans,

those functions are not in mppp because I haven't had much use for them so far. It should not be an issue to add them for the next release.

[2019-12-04 16:01] chatziko opened #207 "Use mp++ types in armadillo (proof of concept)"
The following repo shows that [armadillo](http://arma.sourceforge.net/) can be monkey-patched to support mp++ types as elements (`integer` and `rational`, but others could be easily added).

https://github.com/chatziko/arma-mppp

A variety of basic operations are supported, and I'm sure others could be added.

Of course I wouldn't expect performance similar to BLAS, but using armadillo to do linea

[2019-12-05 10:30] bluescarni commented on #207
Hi @chatziko, that is indeed a good suggestion. I would be willing to incorporate explicit support for armadillo's types directly within mp++, perhaps in the form of a header in the ``extra/`` subdirectory.

I have never used armadillo myself however, so probably the best way to proceed would be if you could open a PR and then we could work on it together.

[2019-12-05 11:27] chatziko commented on #207
Ok, I'll try to open a PR when I find some time.

Quick question: one problem I found in supporting more armadillo operations is that it sometimes uses `0` as a default argument, assuming that its element type accepts it, like:
[code]

My understanding is that mp++ doesn't allow implicit conversions, so this will fail when `T = int_t`. Is that because they are error prone? Do you see any way to op

[2019-12-05 12:02] bluescarni commented on #207
Yes, disallowing implicit conversions was a conscious design decision from the very beginning. I find them complex to reason about and generally speaking I try not to rely on/use them in my code. It is unfortunate that initialization in the form ``T a = 0;`` is dependent upon the availability of implicit conversions, but there's nothing that can be done about it.

I don't see an easy way out of th

[2019-12-05 13:47] chatziko commented on #207
I made a PR to armadillo, let's see how this goes :smile:

https://gitlab.com/conradsnicta/armadillo-code/merge_requests/93

[2019-12-05 14:29] bluescarni commented on #207
Great, thanks! I'll follow the discussion there.

[2020-01-12 17:27] bluescarni commented on #201
@thehans just a quick update. I haven't had much time to look into this feature in the last couple of months, so I think it is unlikely it will end up in mp++ 0.18 (which I would like to release relatively soon for other reasons).

I did some preliminary work in #205 with the implementation of (modular) squaring but I really need to go and study in some detail what GMP is doing before coming up wi

[2020-06-09 08:25] bluescarni commented on #186
@yurivict sorry for pinging you here, but it seems the easiest way to contact you :)

I just wanted to tell you that with the release of the latest version, 0.20, mp++ now optionally depends on the GNU MPC library for the implementation of complex multiprecision numbers. Since I noticed that MPC is available in the FreeBSD ports collection, perhaps you can add it as a dependency for mp++ and build

[2020-06-09 15:29] yurivict opened #249 "All tests fail in static initialization"
[code]

The stack is:
[code]

FreeBSD 12.1

[2020-06-09 15:40] bluescarni commented on #249
Is it possible to know where the dependency from ``libntl.so`` is coming from? mp++ does not directly use this library.

It looks like ``libntl.so`` was compiled with an instruction set different from the one in use at execution time. Is it possible the ``libntl.so`` was compiled, say, with AVX/AVX2 support but the mp++ tests are being run on a machine which does not support these instructions?

[2020-06-09 15:46] yurivict commented on #249
```flint2``` depends on ```libntl```.

Sorry that I didn't pay attention to the library, this issue is likely a ```libntl``` issue. I just enabled the ```arb``` dependency, which pulled ```libntl```.

[2020-06-09 15:49] bluescarni commented on #249
No worries!

If I had to guess, I bet that the build system of NTL has some sort of auto-tuning machinery which detects the CPU type on the build machine and compiles the library optimized for that CPU.

[2020-06-09 17:59] yurivict commented on #186
I've enabled the MPC option, thank you for your suggestion!

[2020-06-09 19:26] bluescarni commented on #186
Great, thank you very much!

[2020-06-09 19:33] yurivict commented on #186
No problem!

[2020-08-27 22:01] yurivict opened #258 "arbitrary-precision integers are capped at 64 bytes?"
Instantiating the template ```integer``` with size higher than 64 results in this error:
[code]

Why are arbitrary-precision integers capped?

[2020-08-28 07:21] bluescarni commented on #258
The idea behind the cap was that with such a large static size one is probably better off with a dynamic integer anyway. For instance, operations such as swapping and moving will be very costly in an integer with a very large static size (whereas when dynamic storage is employed, move/swap boil down to a couple of pointer swaps).

Note that the cap does not affect the bit size of the integer (whic

[2020-08-28 07:34] yurivict commented on #258
I don't have particular use cases, I was just playing with cryptographic algorithms and found this limitation.
Thanks for your explanation!

[2020-08-28 07:34] #258 closed

[2020-10-02 18:22] andrewcorrigan opened #259 "compilation errors with Clang 6,7,8"
I was just testing compilation of my code on older versions of `clang` and ran into the following compilation errors in `mp++`.  These errors occur with either `-std=c++2a` or `-std=c++17`.

I have no issues with `clang-9` or `clang-10`. I assume these are just compiler bugs, but the documentation seemed to indicate these versions of `clang` are still supported, so I thought I'd share this informa

[2020-10-02 20:18] bluescarni commented on #259
Thanks for the report. Yes, these are compiler issues.

With respect to the integer literal, could you try to modify the line:

https://github.com/bluescarni/mppp/blob/master/include/mp%2B%2B/detail/integer_literals.hpp#L246

to read just

[code]

instead?

[2020-10-02 20:41] andrewcorrigan commented on #259
I tried to be a bit more surgical and changed `__clang_major__ <= 5` to `__clang_major__ <= 8`, since 9 and 10 were already working.  It's working fine now.

[2020-10-02 20:44] bluescarni commented on #259
Ok cheers!

[2020-10-02 20:44] #259 closed

[2021-01-04 04:33] yurivict commented on #249
This problem is gone in 0.22.

[2021-01-04 04:33] #249 closed

[2021-01-04 04:35] yurivict opened #264 "The test real_bessel fails on FreeBSD 12.2"
[code]

Version 0.22
clang 10

[2021-01-05 00:05] bluescarni commented on #264
@yurivict thanks for the report. What version of Arb is being used here?

[2021-01-05 00:22] yurivict commented on #264
arb-2.19.0

[2021-01-05 01:08] bluescarni commented on #264
Is there any chance you could provide a backtrace with line numbers, perhaps via a debug build? And how difficult would it be do a build with the address sanitizer enabled (or alternatively, to run the code through valgrind)?

It seems like that error is generated inside ``arb_gamma_small_frac()``, but I am a bit puzzled because I am using the same Arb version both on my machine and in the continu

[2021-01-05 02:23] yurivict commented on #264
When ```arb``` is compiled with debug info - ```real_bessel``` doesn't crash.

[2021-01-05 02:43] yurivict commented on #264
It might be that SIMD level is different. When I build ```arb``` locally it doesn't crash, but when I install it from the central build - it crashes.

[2021-01-05 03:36] yurivict commented on #264
I am puzzled by this. SIMD options aren't set during the ```arb``` compilation, so SIMD shouldn't be the cause. The clang compiler I use is clang-10, and the stock build uses clang-8, but when I build with clang-8 it still doesn't crash.

It is possible that some subtle dependency differences cause this - some dependencies might have different versions.

[2021-01-05 19:35] 7ofNine commented on #264
FYI:
Not really relevant for BSD but I just recompiled everything (excluding flint) with the latest versions of arb and abseil using the  MSVC 16.9.0 preview 2 with the latest state of implementation for C++20 and it runs fine. All tests pass. Even arb compiles now without tricks.

Hartmuth

[2021-01-07 10:23] bluescarni commented on #264
@yurivict if I recall correctly, Arb does not have any low-level SIMD code in it, as it uses the FLINT library for its low-level primitives. Perhaps you could try to recompile FLINT as well on your local box?

[2021-01-07 11:09] yurivict commented on #264
The problem is that the stock build crashes. Perhaps this is due to SIMD level mismatch in one of dependencies.

Closing for now because this is most likely not a ```mppp``` problem.

Thank you for your help!

[2021-01-07 11:09] #264 closed

[2021-01-07 13:44] bluescarni commented on #264
@yurivict ok, cheers! Feel free to re-open if this turns indeed to be an mp++ issue.

[2021-01-15 08:53] timotheecour opened #266 "benchmarks for > 2 limbs?"
as mentioned in https://github.com/nim-lang/Nim/issues/14696#issuecomment-750887884, fort the benchmarks in https://bluescarni.github.io/mppp/integer_benchmarks.html:

are there benchmarks for > 2 limbs?
Until then, what kind of performance to expect compared to gmp for > 2 limbs?

## unrelated
readme says:

Given this fact, can you please clarify whether using mpp is subject to the licensing term

[2021-01-15 11:35] bluescarni commented on #266
@timotheecour

No, there are no benchmarks for > 2 limbs.

In principle, for low limb counts mp++ could be faster than plain GMP (as long as you stay in stack-allocated storage), but in practice I have not profiled or optimised for this use case (yet?). Currently the main use case of the integer class is to be fast for 1-2 limbs, ideally approaching the performance of hardware integers. For higher

[2021-03-29 15:09] axelvan22 opened #268 "Cannot build mp++ 0.9"
Hi,

I'm trying to install the version 0.9 of mp++ to make piranha work but I meet some problems to build the former.

It's related to the issue https://github.com/bluescarni/piranha/issues/150?_pjax=%23js-repo-pjax-container#issuecomment-809443201 .

I had to make a `cmake .` command before the `cmake --build . --target install` because of the missing of CMakeCache.txt . And yet there are errors.

[2021-03-30 14:58] 7ofNine commented on #268
@axelvan22
Is there a specific reason why you are trying to build and install version 0.9? That version is more than 3 years old and is internally somewhat different than the most recent version 0.23 (not released). I am also not sure how well the Microsoft version of cmake deals with the old cmake files?
To answer the question I don't remember even seeing such a build error. The most recent probl

[2021-03-30 15:25] axelvan22 commented on #268
Hi Hartmuth,

As jbx1 mentionned in https://github.com/bluescarni/piranha/issues/150 , I'm trying to launch this planner https://github.com/KCL-Planning/SMTPlan . It requires the version 0.9 of mp++ and jbx1 was able to make to compile it, which I need as well for the planner to work. Also I managed to link boost before having to install mp++.

Axel

[2021-03-30 16:24] 7ofNine commented on #268
O.K.
good reason. I can set it up and try. I am sure I once was able to build and install it. Currently the oldest version I have, because of some old software I am in the process to move to the recent world, is version 0.13 and that works fine even with VS 2019. I'll try.

[2021-03-30 16:45] axelvan22 commented on #268
Thank you for your help!

I didn't try it again today, I'll get into it once I'm done with my current work.

I'm sure it would be easier to install it on Linux but the company I work for gave me a PC...

[2021-03-30 18:33] 7ofNine commented on #268
@axelvan22
I just built (tests not benchmarks) version 0.9 and didn't encounter any problem or tweak up to the install. This was with VS2019 16.10.0 preview 1 and default setting for the language i.e. C++14.
But this was using the command line cmake + cmake GUI. I only used the visual studio version a while ago and it still had a lot of problems. I'll give it a try to see how this variant behaves.

[2021-04-02 14:03] axelvan22 commented on #268
Hi,

I'm now installing it on a ubuntu 18.04 distribution. In fact I don't know how to use cmake...
I've been following the steps in https://bluescarni.github.io/mppp/installation.html#installation-from-source and the first command is `cmake --build . ` but I tried it just after installing the tar.gz file of mp++ .

How can I create the cache file?

[2021-04-02 15:12] 7ofNine commented on #268
@axelvan22
I never used the command line. Especially under windows there is a rather comfortable gui which gets installed with cmake.
This tool would show you two buttons at the bottom. One saying configure and the second generate. This gives you the steps to execute.
But first you have to select your build folder. That is where the cache and all the generated build files will be created.
It's act

[2021-08-07 17:07] yurivict opened #281 "[BUG] 0.24 fails with mpfr-4.1.0: error: expected unqualified-id"
**Describe the bug**
This started when math/mpfr port was updated:

[code]

Log: http://beefy16.nyi.freebsd.org/data/130amd64-default/1684f47e9bea/logs/mppp-0.24_2.log (IPv6 URL)

OS: FreeBSD 13

[2021-08-07 18:52] bluescarni commented on #281
@yurivict This is quite weird... It turns out there's a switch in MPFR to select whether certain functions are implemented as macros rather than "real" C functions. The compilation error happens because mp++ is calling mpfr functions as if they were C functions (i.e., ``::mpfr_set_...()``) when instead they are implemented as macros.

Strangely enough, I never ran into this issue. Can you check yo

[2021-08-07 19:10] yurivict commented on #281
```MPFR_USE_NO_MACRO ``` isn't defined in ```mpfr.h```. There is only ```#ifndef MPFR_USE_NO_MACRO``` with it.

[2021-08-07 20:50] bluescarni commented on #281
@yurivict I checked again in my ``mpfr.h`` header and I noticed that the function version of ``mpfr_set()`` is there as well. For me it is around line 500:

[code]

Do you also have these declarations in your ``mpfr.h``?

[2021-08-07 21:21] yurivict commented on #281
Yes.

[2021-08-07 21:58] bluescarni commented on #281
And they are not deactivated by any ``#ifdef`` or similar?

[2021-08-07 22:00] yurivict commented on #281
Here is this file: https://people.freebsd.org/~yuri/mpfr.h

[2021-08-07 22:35] bluescarni commented on #281
I can't really figure out what is going on. My ``mpfr.h`` does not seem to differ from yours, yet all my compilers here do not complain (including clang).

Running ``g++ -E`` on ``complex.cpp`` and examining the output on the offending line that generates the error on FreeBSD, yields this:

[code]

So it *seems* to me like the compiler is indeed expanding the ``mpfr_set()`` call via the macro, and

[2021-08-08 16:10] yurivict commented on #281
This command:
[code]

outputs this: https://people.freebsd.org/~yuri/complex.cpp.txt

[2021-08-08 19:05] bluescarni commented on #281
@yurivict thanks for checking! The relevant part of the file is this:

[code]

So, for some reason, the ``mpfr_set()`` macro expands to something else in my setups (Linux/OSX/Windows). I cannot really understand how this happens...

However, it seems pretty clear at this point that I need to remove all the leading ``::`` in the mp++ source code when invoking MPFR macros. I'll be on vacation the ne

[2021-08-08 20:25] yurivict commented on #281
Thanks!

Have a happy vacation!

Yuri

[2021-08-08 20:51] bluescarni commented on #281
Thanks!

[2021-08-24 13:36] bluescarni commented on #281
@yurivict There's a PR up at #282 that should fix this issue. Could you check if the PR does indeed fix the problem?

[2021-08-31 01:49] yurivict commented on #281
The problem is now gone, thank you!

[2021-08-31 01:49] #281 closed

[2021-10-20 20:45] benruijl opened #288 "[BUG] Literal `_rq` performs conversion of string literal in runtime instead of compile time"
I expect the performance of the quad prec literal `NUM_rq` to have the same performance of doing `real128(NUM.q)`, however it is much slower. Running `perf` on some sample code shows that the conversion from string to __float128 is not happening at compile time as seems to be the case with `.q`, but occurs at runtime:
![strtoflt128](https://user-images.githubusercontent.com/280089/138169344-520da0

[2021-10-21 08:05] benruijl commented on #288
At the moment, I am using this second option. Basically, I have turned all the literals into `real128(NUM.q)`, which requires the ` -fext-numeric-literals` flag.

[2021-11-18 22:43] dumblob opened #289 "Add support for decimal floats"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the compiler lies to me and instead of the number literal I see stores a different number to the memory/register and first then starts the actual computation.

**Describe the solution you'd like**
Either error out, that the given float literal can't be converted to a binary float due to loss of precision.

[2021-11-18 22:50] dumblob opened #290 "Alternative (better?) precision computations & approximations"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when old algorithms for increasing/taming precision are being used instead of newer better ones :wink:.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

https://blog.sigplan.org/2021/08/26/high-performance-correctly-rounded-math-libraries-for-32-bit-floating-po

[2021-11-25 03:20] andrewcorrigan opened #291 "[BUG] MSVC C++20 compilation errors"
**Describe the bug**

I regularly compile with Clang and GCC in C++20 mode and MSVC in C++17 mode without issue. I just tried to also compile MPPP in C++20 mode on MSVC using
[code]
with flags:
[code]

Resulting in compilation errors:
[code]

**To Reproduce**
Compile MPPP with MSVC using `/std:c++20`.

**Workaround**

I worked around the errors by modifying the definition of `MPPP_CONSTINIT` as fo

[2021-11-25 08:41] bluescarni commented on #291
@andrewcorrigan 0.21 is a bit old, could you try with the latest stable version (0.26) and see if the error persists? With the help of @7ofNine we fixed a few MSVC C++20 issues if I recall correctly.

[2021-11-25 16:12] andrewcorrigan commented on #291
I just downloaded the latest version and added the following to the top of CMakeLists.txt:

[code]

 The second error persists.

[code]

I updated the workaround in my local copy to the following, since the code works fine with gcc/clang
[code]

[2021-11-25 16:20] 7ofNine commented on #291
I just tried it with 0.26 and 16.11.5 Preview 1 and get the same error. And I also remember that I got this error already a while ago and at that time blamed it on a MSVC compiler bug and was too lazy to hunt it down. I am still not sure what constinit really means and when to use it. I simply stuck with C++17. I will try it with VS 2022 what it has to say.

[2021-11-25 19:32] 7ofNine commented on #291
VS2022 17.1.0 Preview 1 fails the same way

[2021-11-26 08:38] bluescarni commented on #291
@andrewcorrigan @7ofNine cheers, thanks for double checking this.

``constinit`` is a tool to ensure that the initialisation of a global variable happens at compile time. I am not sure why MSVC is complaining, I will check again with GCC + Clang in C++20 mode. In any case the fix is simple, we can just undefine ``MPPP_CONSTINIT`` on MSVC.

[2021-11-26 19:00] 7ofNine commented on #291
Hi Francesco,
I still tend to think that it is a MSVC bug. constinit is pretty new and probably not that commonly used, yet. I'll have a look for possible error reports and if not successful might have to create one. As you know not the first one triggered by mp++ or piranha/obake.

[2021-11-27 07:50] bluescarni commented on #291
I would tend to agree. Here's a trimmed down version of the offending code in mp++. Both GCC and clang compile it without issues, MSVC chokes:

https://godbolt.org/z/6nx7aW1TP

So I am inclined to go ahead and just disable ``constinit`` on pure MSVC for the moment.

[2021-11-28 20:55] bluescarni commented on #291
@andrewcorrigan @7ofNine would you mind trying the PR up at #292 to see if it fixes the issue?

[2021-11-29 03:16] 7ofNine commented on #291
Hi Francesco,
I compiled the PR with VS2019 as well as VS2022 set to C++20. Both cases worked fine.
And to be sure the same is true if set to C++17

[2021-11-29 14:46] bluescarni commented on #291
@7ofNine cheers, I merged the PR. Closing the issue.

[2021-11-29 14:46] #291 closed

[2021-11-29 15:42] andrewcorrigan commented on #291
Sorry for the delay.  Thanks for fixing this!

[2022-11-12 16:02] andrewcorrigan opened #299 "[[maybe_unused]] ::mp_limb_t br;"
I tried compiling from a project that includes `mppp` as a dependency via `obake`. I see that `mppp` suppresses a lot of warnings, but when I set `-Wall` in my project, I encountered the following warning:

[code]

Would it make sense to specify `[[maybe_unused]]` here?
[code]

[2022-11-12 19:07] bluescarni commented on #299
@andrewcorrigan indeed, that variable is used only for debugging and thus in release builds it is effectively unused.

mp++ at this time must still support C++11, so direct support for ``maybe_unused`` (a C++17 feature) is not possible. The correct way of doing it is to set up a macro in ``config.hpp.in`` that checks the current C++ standard in use, something like this:

[code]

In fact there's al

[2022-11-13 00:56] andrewcorrigan commented on #299
Will do

[2022-11-17 08:48] #299 closed

[2022-11-17 08:50] #268 closed